.cover__link {
  min-height: 46.25rem;
  max-width: 74rem;
  background: url(../../../images/trains.jpg);
  background-size: cover;
  max-width: 1184px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;

}
.cover__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color 1s linear;
  z-index: 2;
}
.cover__link:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover__link {
    min-height: 40rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cover__link {
    min-height: 30rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .cover__link {
    min-height: 12.5rem;
  }
}
