.place__title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__title:first-child {
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
