.place__image {
  grid-column: 1/2;
  grid-row: 2/3;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .place__image {
    min-width: 20rem;
    width: 100%;
  }
}
