.lead {
  padding-top: 3.5rem;
}
@media screen and (max-width: 1279px) and (min-width: 320px) {
  .lead {
    padding-top: 3rem;
  }
}
@media screen and (max-width: 1023px) and (min-width: 320px) {
  .lead {
    padding-right: 0;
    padding-left: 0;
  }
}

