.lead__title {
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 45rem;
  width: 100%;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}

