.wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5.75rem;
  /*margin: 0 auto;*/
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .wrapper {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 5.5rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 4rem;
  }
}
