.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 40rem;
  width: 100%;
  padding-top: 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 18rem;
  }
}
