.place__link {
  text-decoration: underline;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity .5s linear;
  padding-top: 12px;
}
.place__link:hover {
  opacity: 0.8;
  }
