.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
